<div class="container">


    <h1>welcome to my book api</h1>



    <form>

        <input type="hidden" name="book.id" />

        <div class="form-group">
            <label for="bookTitle">Enter Title</label>
            <input type="text" class="form-control" [(ngModel)]="book.title" name="title" id="bookTitle"
                aria-describedby="bookTitle" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="bookAuthor">Enter Author</label>
            <input type="text" class="form-control" [(ngModel)]="book.author" name="author" id="bookAuthor"
                placeholder="Enter Author">
        </div>

        <button (click)="addBook()" class="btn btn-primary">Add book</button>
    </form>




    <br>


    <hr>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td> <button (click)="getBookById(book.id)">
                        <!--For modern browsers-->

                        <i class="material-icons">edit</i>
                    </button> | <button (click)="deleteBook(book.id)"><i class="material-icons">
delete
</i></button>
                </td>
            </tr>
        </tbody>
    </table>

</div>